@import "tailwindcss";

@theme {
    --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
}

@layer components {
    .primary-button {
        @apply text-gray-300 hover:scale-103  hover:text-white border border-gray-300 focus:ring-1 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
    }
    .secondary-button {
        @apply text-gray-900 hover:scale-103  hover:text-black border border-gray-900 focus:ring-1 focus:outline-none focus:ring-gray-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
    }
}